body{
  font-family: 'Nunito', sans-serif;
}

header {
  background-image: url("imagen1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 2rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 80px;
    width: 80px;
    outline: black;
    background-color: #0088A4;


}

.proyectos{
  background-color: #0088A4;
}
h1{
  font-weight: 700;

}

h2{
  font-weight: 400;
}

h3{
  font-weight: 700;
}
